{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/welcome/welcome.css' type='text/css' />
{% endblock %}
{% block heading %}Account
{% endblock %}
{% block content %}
{%if is_logged_in()%}
<div class="container-fluid">
	<div class=md:col-6>
		<p>This page is still kinda under construction. Here's you can do:</p>
		<h2 class="my-3">Manage Prayer Groups</h2 class="my-3">
		<table class='table theme-txt'>
			{% for group in groups %}
			<tr>
				<td>{{group}}</td>
				<td><a href='/prayer/unsubscribe_logged_in?group={{group}}'
						class="theme-txt theme-dark-element btn">Unsubscribe</a></td>
			</tr>
			{%endfor%}
			<tr>
				<form action='/prayer/addgroup' method="POST">
					<td>
						<input class="form-control" name="group" style="border:none" placeholder='GROUP CODE' />
					</td>
					<td>
						<input type="submit" class="theme-txt theme-dark-element btn" value="Subscribe" />
					</td>
				</form>
			</tr>
		</table>
		<h2 class="my-3">Change Password</h2 class="my-3">
		<form action="/changepw" method="POST">
			<p>Old Password:</p><input class="form-control" type="password" name="old_password" />
			<br />
			<p>New Password:</p><input class="form-control" type="password" name="new_password" />
			<br />
			<p>Confirm New Password:</p><input class="form-control" type="password" name="confirm_new_password" />
			<br />
			<input class="theme-txt theme-dark-element btn" id=submit type="submit" name="submit"
				value="Change Password">
		</form>
		<h2 class="my-3">Change Email</h2 class="my-3">
		<form action='/change_email' method="POST">
			<label>New Email:</label><input class="form-control" type="email" name="email" />
			<label>I'm changing my: </label>
			<br />
			<select class='form-control' name='email_type'>
				<option>Recovery email</option>
				<option>Prayer email</option>
			</select>
			<input class="theme-txt theme-dark-element btn" id=submit type="submit" name="submit" value="Change Email">
		</form>
		<h2 class="my-3" class="my-3">Delete Account</h2 class="my-3">
		<p>Warning: This action is irreversible. Click this button will result in ALL OF YOUR DATA, including username,
			password, writer documents, todos and emails being deleted. They will be printed by a dot matrix printer and
			shredded. The shredded paper will be flown over the Bermuda Triangle and dropped. Any paper floating on the
			surface will then be launched into space, and dropped into a black hole. To make sure your data is
			completely
			destroyed we'll send Matthew McConaughey in after it to make sure its been destroyed in all 5 dimensions. If
			at
			any point, you decide you want you data back, contact your local intellegence agency, cause I don't have it!
		<form action="/accountdel" method='post'>
			<p>Password:</p><input class="form-control" type="password" name="confirm_password" />
			<input class="my-3 theme-txt theme-dark-element btn" type=submit value="Delete my Account" />
		</form>
		</form>
	</div>
</div>
{% else %}
<p>Please <a href="/login">sign in</a> first.</p>
{% endif %}
{% endblock %}