{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block heading %}
Forgot Password
{% endblock %}
{%block head%}
<link rel="stylesheet" href="static/login.css" />
{% endblock %}
{% block content %}
<br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="form-group mx-auto text-center lg:col-7 md:col-8 sm:col-10 card p-3 theme-element text-light">
      <form action="/forgot_pw" method="post">
        <h3 class="text-light">Forgot Password:</h3>
        <p>Did you get locked out of your account? Don't worry, we'll have you back up and running in no time!</p>
        <div class=form-group>
          <p style='text-align:left' id=emailLabel>Recovery Email:</p>
          <input type="email" name=emailInput id="emailInput" class="theme-txt form-control" /><br>
          <p id=usernameLabel>Username:</p>
          <input name=usernameInput id="usernameInput" class="theme-txt form-control" /><br>
        </div>
        <input class="btn w-50 text-light theme-dark-element" type="submit" value="Reset Password">
      </form>
    </div>
  </div>
</div>
{% endblock %}