{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block heading %}
Welcome to jforseth.tech
{% endblock %}
{%block head%}
<link rel="stylesheet" href="static/login.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class='md:col-7'>
      <br />
      <h5>I am a high school student. This site may stop working, go offline, delete or leak data at any time. DO NOT
        use it for anything even remotely important. I don't and I created the thing.</h5>
      <p>Note: If you do not recieve an email, it may be in your spam folder.</p>
    </div>
    <div class='md:col-5'>
      <br />
      <form id='signupForm' action="/signup" class='m-2 p-2 card mx-auto text-center theme-element' method="post">
        <div class="conatiner">
          <h3>Sign Up:</h3>
          <!--<div class="form-group">-->
          <div class='row'>
            <div class='md:col-6'>
              <p style='text-align:left' id=emailLabel>Recovery Email:</p><input type="email" name=emailInput
                id="emailInput" class="theme-element theme-txt form-control" /><br>
              <p id=usernameLabel>Username:</p><input name=usernameInput id="usernameInput"
                class="theme-element theme-txt form-control" /><br>
            </div>

            <div class='md:col-6'>
              <p id=passwordLabel>Password:</p><input type=password name=passwordInput id="passwordInput"
                class="theme-element theme-txt form-control" /><br>
              <p style='text-align:left' id=confirmPasswordLabel>Confirm Password:</p><input type=password
                name=confirmPasswordInput id="confirmPasswordInput" class="theme-element theme-txt form-control" /><br>

            </div>
            <div class="my-4 mx-auto md:col-11">
              <p>Please type (or copy/paste) the following phrase into the box below:<br /> "I solemnly swear that I'm
                not a robot"</p>
              <input name=captchaInput id="captchaInput" class="theme-element theme-txt form-control" />
            </div>
            <div class="my-4 mx-auto md:col-11">
              <input type=checkbox name=prayerInput id="prayerInput" /><label class="ml-2" id=prayerLabel>I want to
                recieve prayer requests.</label><br>
              <p style='text-align:left' id=parishLabel>Group Code:</p><input name=parishInput id="parishInput"
                class="theme-element theme-txt form-control" placeholder="Leave blank if you don't know" /><br>
              <button onclick='submit()' class="btn w-50 text-light theme-dark-element">Create Account</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="static/signup.js"></script>
{% endblock %}