{% extends 'base.html' %}
{% block head %}
<link rel='stylesheet' href='/static/videos/videos.css' type='text/css' />
<script src="/static/videos/videos.js"></script>
{% endblock %}
{% block title %}{{video[0]}}{% endblock %}
{% block heading %}
<a class="text-light" href="/videos">{{video[0]}}</a>
{% endblock %}
{% block content %}
<br />
<div class="container">
    <div class="row">
        <div class="md:col-10 mx-auto rounded">
            <div class="youtube-player" data-id="{{video[1]}}"></div>
            <div class="container-fluid">
                <h1>{{video[0]}}</h1>
                <script src="https://apis.google.com/js/platform.js"></script>
                <div class="g-ytsubscribe" data-channelid="UCJm15XU1Uity6plzSyyDDvQ" data-layout="default"
                    data-count="default">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="md:col-12">
            <p>More videos</p>
            <div class="container-fluid">
                <div class="row">
                    {% for i in videos %}
                    <div class="lg:col-3 md:col-4 sm:col-6 p-0">
                        <div class='card zoom theme-element m-3 my-4 p-0 d-flex'>
                            <a href="/videos/video/{{i[0]}}">
                                <img src=https://img.youtube.com/vi/{{i[1]}}/maxresdefault.jpg class="rounded-top w-100"
                                    alt="Youtube thumbnail.">
                                <h3 class="main_video_title text-light p-3">{{i[0]}}</h3>
                            </a>
                        </div>
                    </div>
                    {% if check_if_admin() %}
                    <form method=post action="/videos/rename" method="POST">
                        <input type=text value="{{ i[0]}}" name=title />
                        <input hidden value="{{ i[1]}}" name=youtube_id />
                        <input type=submit id=submit value="Rename" />
                    </form>
                    <form method=post action="/videos/updateid" method="POST">
                        <input type=text value="{{ i[1]}}" name=new_youtube_id />
                        <input hidden value="{{ i[1]}}" name=old_youtube_id />
                        <input type=submit id=submit value="Update ID" />
                    </form>
                    <form method=post action="/videos/move" method="POST">
                        <input hidden value='{{ i[0] }}|{{ i[1]}}' name='element' />
                        <input hidden value='up' name=direction />
                        <input type=submit id=submit value="Move Up" />
                    </form>
                    <form method=post action="/videos/deletion" method="POST">
                        <input hidden value="{{ i[1]}}" name=youtube_id />
                        <input type=submit id=submit value="Delete" />
                    </form>
                    <form method=post action="/videos/move" method="POST">
                        <input hidden value='{{ i[0] }}|{{ i[1]}}' name='element' />
                        <input hidden value='down' name=direction />
                        <input type=submit id=submit value="Move Down" />
                    </form>
                    {% endif %}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container">
    <br /><small>Oh, and, in case it wasn't obvious, none of the music in these videos is my original
        work. Most of them have credit in the description. If it doesn't email me and I'll try to track the song
        down.</small>
    <br /><small><a href='/login/?next=%2Fvideos'>Click here to enter admin mode</a></small>
</footer>
{%endblock%}