{% extends 'base.html' %}
{% block head %}
<link rel='stylesheet' href='/static/videos/videos.css' type='text/css' />
<script src="/static/videos/videos.js"></script>
{% endblock %}
{% block title %}Videos{% endblock %}
{% block heading %}
Videos
{% endblock %}
{% block content %}
<script src="https://apfis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCJm15XU1Uity6plzSyyDDvQ" data-layout="default" data-count="default">
</div>
<div class="container-fluid">
    {% if check_if_admin() %}
    <div class="container-fluid">
        <p>Welcome to the jforseth.tech video admin console. If you don't know how you got here, DO NOT TOUCH ANYTHING!
            <a href="/logout">Click here</a> to reset.
        </p>
        <p>If you know how you got here:</p>
        <ul>
            <li>To add a video, enter the title and YouTube link and click 'Upload'.</li>
            <li>To rename a video, type the new title and click 'Rename'.</li>
            <li>To replace the youtube video, just paste in the new url and click 'Update ID'</li>
            <li>To delete the video, click 'Delete'</li>
            <li>To move the video use the 'Move Up' and 'Move Down' buttons.</li>
        </ul>
        <form method=post action="videos/newupload" method="POST">
            <div class=md:col-8>
                <input class="theme-bg theme-txt w-25 form-control" type=text name=title placeholder='Title' />
                <input class="theme-bg theme-txt w-25 form-control" type=text name=youtube_id
                    placeholder="YouTube Link" />
                <input class="btn theme-txt theme-dark-element" type=submit name=submit id='submit' value="Upload">
            </div>
        </form>
    </div>
    {% else %}
    <p>These are all of my video editing projects. I would serve them myself, instead of using YouTube, but my computer
        and my internet connection just aren't up to that. Enjoy!</p>

    {% endif %}
    <div class="row">
        {% for video in video_master_list %}
        <div class="ls:col-3 md:col-4 sm:col-6">
            <div class='card zoom theme-element m-1 my-4 p-0 '>

                {% if not check_if_admin() %}
                <a href="/videos/video/{{video[0]}}">
                    <img class="rounded-top" src="https://img.youtube.com/vi/{{video[1]}}/maxresdefault.jpg"
                        style="width: 100%;" alt="{{video[0]}} thumbnail" />
                    <h3 class="text-light p-3">{{ video[0]}}</h3>
                </a>


                {% else %}
                <form method=post action="videos/rename" method="POST">
                    <input class="theme-element theme-txt form-control" type=text value="{{ video[0]}}" name=title />
                    <input hidden value="{{ video[1]}}" name=youtube_id />
                    <input class="btn theme-txt theme-dark-element" type=submit id=submit value="Rename" />
                </form>
                <form method=post action="videos/updateid" method="POST">
                    <input class="theme-element theme-txt form-control" type=text value="{{ video[1]}}"
                        name=new_youtube_id />
                    <input hidden value="{{ video[1]}}" name=old_youtube_id />
                    <input class="btn theme-txt theme-dark-element" type=submit id=submit value="Update ID" />
                </form>
                <img class=wid100 src="https://img.youtube.com/vi/{{video[1]}}/maxresdefault.jpg" alt="Youtube thumbnail" />
                {% endif %}


                {% if check_if_admin() %}
                <br />
                <br />
                <form id="{{video[1]}}:mvUp" method=post action="videos/move" method="POST">
                    <input hidden value='{{ video[0] }}|{{ video[1]}}' name='element' />
                    <input hidden value='up' name=direction />
                </form>
                <form id="{{video[1]}}:del" method=post action="videos/deletion" method="POST">
                    <input hidden value="{{ video[1]}}" name=youtube_id />
                </form>
                <form id="{{video[1]}}:mvDown" method=post action="videos/move" method="POST">
                    <input hidden value='{{ video[0] }}|{{ video[1]}}' name='element' />
                    <input hidden value='down' name=direction />
                </form>
                <div class="btn-group">
                    <button class="btn theme-txt theme-dark-element" type="submit" form="{{video[1]}}:mvUp">Move
                        Up</button>
                    <button class="btn theme-txt theme-dark-element" type="submit"
                        form="{{video[1]}}:del">Delete</button>
                    <button class="btn theme-txt theme-dark-element" type="submit" form="{{video[1]}}:mvDown">Move
                        Down</button>

                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer class="container">
    <br /><small>Oh, and, in case it wasn't obvious, none of the music in these videos is my original
        work. Most of them have credit in the description. If it doesn't email me and I'll try to track the song
        down.</small>
    <br /><small><a href='/login/?next=%2Fvideos'>Click here to enter admin mode</a></small>

</footer>
{% endblock %}