<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Editor</title>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.jforseth.tech/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <input id=signEdit onkeyup="signUpdated()" value={{text}} />
    <style>
        @keyframes bgcolor {
            0% {
                background-color: #45a3e5
            }

            30% {
                background-color: #66bf39
            }

            60% {
                background-color: #eb670f
            }

            90% {
                background-color: #f35
            }

            100% {
                background-color: #864cbf
            }
        }

        body {
            -webkit-animation: bgcolor 20s infinite;
            animation: bgcolor 10s infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }

        #signEdit {
            background-color: transparent;
            border: none;
            font-family: sans-serif;
            width: 100%;
            color: white;
            height: 100vh;
            line-height: 100vh;
            font-size: 72px;
            text-align: center;
            margin: auto;
            vertical-align: middle;
        }
    </style>
    <script>
        function signUpdated() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
            }
            var sign_text = document.getElementById("signEdit")
            xmlHttp.open("GET", "/sign/update?text=" + sign_text.value, true); // true for asynchronous 
            xmlHttp.send(null);

        }
    </script>
</body>

</html>