{% extends 'base.html' %} {% block title %}Welcome{% endblock %} {% block head %}
<link rel="stylesheet" href="/static/welcome/welcome.css" type="text/css" />
<script src="/static/welcome/welcome.js" type="text/javascript"></script>
{% endblock%} {% block heading %} Jforseth.tech {% endblock %} {% block content %}
<section class="about-us content">
    <div class="container my-5">
        <div class="row">
            <div class="text-center d-none sm:d-block sm:p-5 p-md-0 md:px-3 md:col-5 lg:col-5 p-0 md:px-2">
                <img src="/static/justin.JPG" class="w-50 sm:w-100 mx-auto h-auto rounded">
            </div>
            <div class="md:col-7 lg:col-7 px-4">
                <h3 class="text-body">About Me</h3>
                <p>Hello! My name is Justin Forseth and I am a computer science student from rural Montana. I enjoy
                    making videos and websites like this one! This is my personal website. I coded it myself, and
                    it's here so I can learn, experiment, and try new things. If you're interested in the tech
                    details, it's running on a Raspberry Pi, running Ubuntu Server 20.04. The backend is Python with
                    the Flask framework on Apache. Since when I started out, I knew very little about web dev, the
                    interactive aspects of the site store data in all sorts of ways including homemade txt formats,
                    csv, json, and eventually an SQLite Database. On the front, I'm using <a href="httsp://grayshift.io"
                        class="link-body">Grayshift</a>. What little JS I use is mostly vanilla although I
                    do use JQuery in places. I also make videos, for my family farm, church, school, 4-H, FFA, and
                    whatever else I feel like. You can find my projects at my YouTube channel, or here at
                    jforseth.tech/videos. To make those, I mostly use a DJI Mavic Pro and a GoPro HERO9, which I
                    edit using Cyberlink Powerdirector.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h2 class="text-body">My Projects</h2>
    <section class="coded-myself projects content">
        <h4 class="text-body" class="mt-2">Coded Myself</h4>
        <small><i class='text-body'>I made these!</i></small>
        <div class="row">
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/video.PNG' alt="Video page screenshot." />
                    <a class="text-body" href='https://jforseth.tech/videos'>
                        <h3 class="p-3">Videos</h3>
                    </a>
                    <p class="p-3 text-body">In my free time I make videos about farming, ranching, events I go to, and
                        whatever else I
                        feel like. You can find them here.</p>
                    <a href="https://jforseth.tech/videos" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/writer.png' alt="Video page screenshot." />
                    <a class="text-body" href='/writer'>
                        <h3 class="p-3">Writer</h3>
                    </a>
                    <p class="p-3 text-body">A simple text editor. Built on Summernote, it's kinda like Google Docs,
                        but with less
                        features. On the plus side, it doesn't sell your data to advertisers.</p>
                    <a href="/writer" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/fairfieldffa.png'
                        alt="Fairfield FFA page screenshot." />
                    <a class="text-body" href='https://fairfieldffa.org'>
                        <h3 class="p-3">Fairfield FFA</h3>
                    </a>
                    <p class="p-3 text-body">A website I coded myself for my FFA chapter. It features a modern
                        single-page design based on
                        Bootstrap and an administrator page to update all aspects of the site.</p><a
                        href="https://fairfieldffa.org" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/cattledb.png' alt="CattleDB page screenshot." />
                    <a class="text-body" href='https://cattledb.jforseth.tech'>
                        <h3 class="p-3">Cattle DB</h3>
                    </a>
                    <p class="p-3 text-body">This is my latest project. It's a program designed for keeping track of
                        records for a beef
                        herd. Created because I needed something easier to use than <a href="https://theaet.com">the
                            AET</a> for my own herd, Cattle DB is designed to be simple and easy to use while being
                        feature rich. It's designed to be run on the user's own computer and accessed through a web
                        interface.</p>
                    <a href="https://cattledb.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
        </div>
    </section>
    <section class="self-hosted projects content">
        <h4 class="text-body">Self-Hosted</h4>
        <small><i class='text-body'>Projects I run on my servers, but that I didn't code myself.</i></small>
        <div class="row">
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/homeassistant.png'
                        alt="Homeassistant page screenshot." />
                    <a class="text-body" href='https://homeassistant.jforseth.tech'>
                        <h3 class="p-3">Home Assistant</h3>
                    </a>
                    <p class="p-3 text-body"> Home Assistant is a self hosted home automation platform that I've been
                        playing around with. </p>
                    <a href="https://homeassistant.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/Nextcloud.png'
                        alt="Nextcloud page screenshot." />
                    <a class="text-body" href='https://nextcloud.jforseth.tech'>
                        <h3 class="p-3">Nextcloud</h3>
                    </a>
                    <p class="p-3 text-body"> Nextcloud is an online office suite. It offers file sharing, a calendar,
                        todo list, mail
                        client, chat app, and more. Since it's built on open standards, it syncronizes with all
                        sorts of other programs. </p>
                    <a href="https://nextcloud.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/mail.png' alt="Email inbox screenshot.">
                    <a class="text-body" href='/mail'>
                        <h3 class="p-3">Mail</h3>
                    </a>
                    <p class="p-3 text-body">A set of custom email addresses for use with jforseth.tech and other
                        projects. Uses Postfix, Dovecot, and Rainloop.</p>
                    <a href="https://mail.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/pihole.png'
                        alt="Pi Hole admin page screenshot." />
                    <a class="text-body" href='http://192.168.1.29:801/admin/'>
                        <h3 class="p-3">Pi-hole</h3>
                    </a>
                    <p class="p-3 text-body"> This is a self-hosted (I didn't make it!) network-wide ad and tracking
                        blocker. Basically,
                        it acts as a filter on our whole network, letting normal traffic through while blocking ads
                        and trackers. It died after the SD card m-3 went out on my Raspberry PI, but I just set it
                        up again! </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/matomo.png' alt="Matomo page screenshot." />
                    <a class="text-body" href='https://matomo.jforseth.tech/'>
                        <h3 class="p-3">Matomo</h3>
                    </a>
                    <p class="p-3 text-body"> Matomo is a self-hosted, privacy respecting alternative to Google
                        Analytics. It helps me
                        keep track of how many people visit my site. It was lost when the SD card m-3 failed on my
                        Raspberry Pi and I just set it back up. </p>
                    <a href="https://matomo.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
                </div>
            </div>
        </div>
    </section>
    {%if check_if_admin() %}
    <section class="the-graveyard projects content">
        <h4 class="text-body">The Graveyard</h4>
        <small><i class='text-body'>Projects that no longer work, or have been abandoned.</i></small>
        <div class="row">
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/Messenger.png'
                        alt="Messenger popup screenshot." />
                    <h3 class="p-3">Messenger</h3>
                    <p class="p-3 text-body">A simple little popup widget. No notifications, users, etc. Honestly, more
                        like an anonymous
                        comment box. Technically still works, just doesn't serve much purpose.</p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/todograve.png' alt="Todo page screenshot." />
                    <h3 class="p-3">Todo</h3>
                    <p class="p-3 text-body">A simple todo list I created for personal use. It's rather poorly
                        designed, both in terms of
                        UI, and backend. I abandoned it after realizing that Nextcloud had much better todo
                        functionality. </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/HorseshoeArt.png'
                        alt="Horseshoe art page screenshot." />
                    <h3 class="p-3">Horseshoe Art</h3>
                    <p class="p-3 text-body">My brother is a welder who makes horseshoe art, which you could look at
                        and order from here.
                        The order form has broken completely. </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/filesharing.PNG'
                        alt="File sharing page screenshot." />
                    <h3 class="p-3">File Sharing</h3>
                    <p class="p-3 text-body">A simple file sharing service I created. Upload a file to the server
                        download it on another
                        device. All uploads are public and are wiped at midnight. Disabled after I couldn't figure
                        out how to raise the file size limit and realized that allowing people to upload arbitrary
                        files to my server may be a slight security concern. </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/barrelracingcounter.png'
                        alt="Barrel racing current rider widget screenshot." />
                    <h3 class="p-3">Barrel Racing Current Rider</h3>
                    <p class="p-3 text-body">A widget I made for a friend to help her keep track of which rider is
                        currently up for barrel
                        racing. </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/PrayerRequests.png'
                        alt="Prayer requests page screenshot." />
                    <h3 class="p-3">Prayer Requests</h3>
                    <p class="p-3 text-body">This one is a shame. One of my earliest projects was a digital prayer
                        chain. It allowed
                        people to anonymously send a prayer request to a list of emails and improved a lot over the
                        course of this site's development. </p>
                </div>
            </div>
            <div class="md:col-6 lg:col-4">
                <div class="card m-3 zoom p-0">
                    <img class='w-100 rounded-top' src='/static/welcome/account.png' alt="Account page screenshot." />
                    <h3 class="p-3">Accounts</h3>
                    <p class="p-3 text-body">Mostly used to prevent the general public from using personal/admin tools,
                        it allowed for
                        public sign ups for a time before being disabled. </p>
                </div>
            </div>
        </div>
        <div class="md:col-6 lg:col-4">
            <div class="card m-3 zoom p-0">
                <img class='w-100 rounded-top' src='/static/welcome/pleroma.png' alt="Pleroma page screenshot." />
                <a class="text-body" href='https://pleroma.jforseth.tech'>
                    <h3 class="p-3">Pleroma</h3>
                </a>
                <p class="p-3 text-body"> Pleroma is a self-hosted alternative to the major social media sites.
                    I really didn't need my own instance, I had some trouble getting federation working correctly, and
                    since other instances were trying to talk to it, it used a lot of resources. </p>
                <a href="https://pleroma.jforseth.tech" class="btn btn-primary theme-txt w-100 p-3">Visit</a>
            </div>
        </div>
    </section>
    {% endif %}
</div> {% endblock %}
</div>