/*The cross image on the prayer requests page*/
#cross {
    height: 80px;
	float: left;
}
@media screen and (max-width: 712px) {
    #cross{
        display: none;
	}
}


/*The refresh button for the quotes*/
#refresh {
	float: right;
	padding-right: 10px
}

/*Forms on the prayer requests page*/
.forms {
	padding-left: 5px;
	float: left;
	width: 40%;
}

/*Specific inputs. For general input styles, see index.css
The main prayer requests input.*/
textarea {
    width: 300px;
	height: 100px;
}

/*The nickname field on the prayer requests page.*/
#name {
    width: 100px;
	height: 25px;
}

/*Parish input (dropdown and code)*/
.parish {
    height: 25px;
    width: 75px;
	background-color: var(--main-bg-color);
	padding: 0px;
	margin: 0px;
}