{% extends 'base.html' %} {% block title %}Prayer Requests{% endblock %} {%
block head %}
<script src="/static/prayer/prayer.js"></script>
<link rel="stylesheet" href="/static/prayer/prayer.css" type="text/css" />
{% endblock%} {% block heading %} Prayer Requests {% endblock %} {% block
content %}
<div class="container">
  <div class="row">
    <p>
      Thank you for visiting jforseth.tech/prayer. While it hasn't always seen a
      lot of use, this project has been a great learning experience and it's
      changed a lot, both in appearance and in the code that actually makes the
      whole thing work. Unfortunately, this page is being used to send more
      spam-emails than actual prayer requests, and I've decided to pull the plug.
      If you have any questions, comments, concerns, or prayer requests, you are
      welcome to contact me using the link in the top right.
      <br />-Justin
    </p>
    {% endblock %}
  </div>
</div>