{% extends 'base.html' %}
{% block title %}Writer{% endblock %}
{% block head %}
<link rel='stylesheet' href='/static/writer/writer.css' type='text/css' />
{% endblock%}
{% block heading %}
Writer
{% endblock %}
{% block content %}
<br />
<div class="container-fluid">
    <div class="row">
        {% for i in docs %}
        <div class="d-flex md:col-4">
            <div class="card zoom m-2 p-2 theme-element">
                <a href='/writer/{{i}}'>
                    <img class='w-100 rounded-top' src="writer/thumb/{{i}}" />

                    <h3 style="word-wrap: break-word;" class="text-light">{{i}}</h3>

                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class=newbutton>
    <i class='newdoc_popup_trigger fa fa-plus-circle' style="font-size:64px" data-toggle="modal"
        data-target="#writerCreateModal"></i>
</div>
<div id="writerCreateModal" class="fade modal" role="dialog">
    <!-- Modal content -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content theme-bg">
            <div class="modal-header">
                <h4>Create a new document:</h4>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input placeholder="Untitled Document" id="newdocinput" class="d-inline w-75 theme-txt form-control">
                <button id="newbutton" class="btn theme-element theme-txt" onclick=create()>Create</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/writer/writer.js"></script>
{% endblock %}