:root {
	/*
	--main-bg-color: #04315E;
	--main-txt-color: #b3c6b2;
	--main-element-color: #001040; 
	--dark-element-color: #00345C;
	--hover-color: #d0e0e0;
	--main-font: Verdana, Geneva, Tahoma, sans-serif;
	*/
	--main-bg-color: #F7F5FB;
	--main-txt-color: #202020;
	--main-element-color: #084887;
	--dark-element-color: #48ACF0;
	--hover-color: #064685;
}
.theme-bg {
	background-color: var(--main-bg-color);
}
.text-light {
	color: var(--main-txt-color) !important;
}
.theme-txt {
	color: var(--main-txt-color) !important;
}

.theme-element {
	background-color: var(--main-element-color) !important;
}

.theme-dark-element {
	background-color: var(--dark-element-color) !important;
}

.theme-hover {
	background-color: var(--hover-color)
}

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: var(--main-font);
}

/* The alert message box */

.alert {
	padding: 20px;
	background-color: #f44336;
	/* Red */
	color: white;
	margin-bottom: 15px;
	margin-left: -30%;
	width: 60%;
	position: absolute;
	margin-top: 20;
	left: 50%;
	z-index: 8;
	opacity: 1;
	transition: opacity 0.6s;
	/* 600ms to fade out */
}

nav {
	transition: all 500ms ease !important;
	box-shadow: 0.2px 5px 5px #003877;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.newbutton {
	color: green;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: all 500ms ease;
}

.newbutton:hover {
	transform: rotate(90deg);
	transform-origin: center center;
}

.fas.fa-plus-circle {
	background-image: radial-gradient(at center, white 40%, transparent 40%);
}
