<!DOCTYPE html>
<html lang="en">

<head>
    <base href='../'>
    <title>{% block title %}{% endblock %} </title>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.jforseth.tech/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

    <link rel='stylesheet' href='/static/theme.css' type='text/css' />
    <link rel='stylesheet' href='/static/index.css' type='text/css' />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->


    <!--<link rel='stylesheet' href='/static/index.css' type='text/css' />-->
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
    <!--End Google fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jforseth(tech)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yanchokraev/grayshift@1.0.2/dist/css/grayshift.min.css"
        integrity="sha384-BEz3swSE9zJc0Sejcc2Hzrbjq8/0rFfS2ASsVlVM1F3cdbXW2VYMlhod3OZr1k3M" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <style>
        body {
            background-color: #0f2f4f;
        }
    </style>
</head>

<body class="theme-bg theme-txt">
    <!--Alerts from https://www.w3schools.com/howto/howto_js_alert.asp-->
    {% block headingimage %}{% endblock %}


    <nav class="navbar lg:navbar-expand rounded-bottom">
        <div class="container xl:px-4">
            <a class="link-body me-5" href="/">
                <img src="https://jforseth.tech/static/favicon-3.png" width="30" height="30">

                jforseth(tech)

            </a>
            <button class="navbar-toggler" data-gs-toggle="collapse" data-gs-target="#navbarSupportedContent"
                type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle Navigation">
                <svg class="gi gi-menu fs-5" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4 6h16a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2zm0 5h16a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2zm0 5h16a1 1 0 1 1 0 2H4a1 1 0 1 1 0-2z" />
                </svg>
            </button>
            <div class="collapse navbar-collapse xl:flex-grow-1" id="navbarSupportedContent">
                <ul class="navbar-nav mb-5 xl:me-auto xl:mb-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://fairfieldffa.org">FairfieldFFA</a>
                    </li>
                    {% if check_if_admin() %}
                    <li class="nav-item">
                        <a class="nav-link" href="http://jforseth.tech:8011">CowCams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://homeassistant.jforseth.tech">Home Assistant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://mail.jforseth.tech">Mail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nextcloud.jforseth.tech">Nextcloud</a>
                    </li>
                    <li class="nav-item me-6">
                        <a class="nav-link" href="https://jforseth.tech:31523">CattleDB</a>
                    </li>
                    {% else %}
                    <li class="nav-item me-6">
                        <a class="nav-link" href="https://cattledb.jforseth.tech">CattleDB</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br />
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{category}}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

    <!--<div id="chatModal" class="fade modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="height:85vh" class="modal-content theme-bg">
                <div class="modal-body">
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <iframe frameborder='no' src='/messenger' scrolling='yes' height='95%' width='100%'></iframe>
                </div>
            </div>
        </div>
    </div-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/static/base.js"></script>
    <script src="https://use.fontawesome.com/1d70eca085.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/yanchokraev/grayshift@1.0.2/dist/js/grayshift.min.js"
        integrity="sha384-8jCLciEK/63juoJgc5SxCqHbZwhVfEQb7TUYSdbDrZV97ozI9/UBWCvr9O8r8JJT"
        crossorigin="anonymous"></script>
</body>

</html>