{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block heading %}
Login
{% endblock %}
{%block head%}
<link rel="stylesheet" href="static/login.css" />
{% endblock %}
{% block content %}
{{super()}}
{%if form.errors %}
<ul class="alert alert-danger">
  {% for field, errors in form.errors.items() %}
  <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
  {% endfor %}
</ul>
{% endif %}
<br /><br />
<div class="container">
  <div class="row">
    <div class="form-group mx-auto text-center lg:col-6 md:col-8 sm:col-10 card p-3 theme-element text-light">
      <form action="{{ url_for('simplelogin.login') }}" method="post">
        <h3 class="text-light">Sign In:</h3>
        <p>Please use a unique username and password. Security isn't my strong suit.</p>
        <div class="form-group">
          {{ form.csrf_token }}
          <p id=usernameLabel>Username:</p>
          <div>{{ form.username }}</div>
          <br />
          <p id=passwordLabel>Password:</p>
          <div> {{ form.password }}</div>
          {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
          <br />
          <a href="/forgot_pw">Forgot Password?</a>
          <br /><br />
          <input class="btn w-50 text-light theme-dark-element" type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="static/login.js"></script>
{% endblock %}