{% extends 'base.html' %} {% block title %}Hire Me{% endblock %} {%
block head %}
{% endblock%} {% block heading %} Hire Me {% endblock %} {% block
content %}
<div class="container">
  <div class="row mx-3">
    <h3 class="text-body">Hire Me</h3>
    <p>Do you like what you see? Do you need a website or video of your own? Do you need someone 'techy' to help solve a
      technology problem? I'm your guy!</p>
  </div>
  <div class="row">
    <div class="md:col-5 card bg-light mx-auto my-3">
      <h5 class="text-body">Programming</h5>
      <ul>
        <li>Small websites like <a href="fairfieldffa.org" class="link-body">fairfieldffa.org</a>, complete with
          admin
          interface.</li>
        <li>Web applications like <a href="cattledb.jforseth.tech" class="link-body">cattledb.jforseth.tech</a>,
          custom
          designed to your specifications.</li>
        <li>Variety of hosting options available <ul>
            <li>Low traffic sites can be hosted at jforseth.tech</li>
            <li>Want to do it yourself? No problem, server setup and installation available on any old computer you
              aren't using</li>
            <li>Want something more reliable? Run your site on a hosting provider of your choosing</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="md:col-5 card bg-light mx-auto my-3">
      <h5 class="text-body">Videography</h5>
      <ul>
        <li>Full service videography. I can film, edit, and produce your video for you. Tell me what you want
          recorded, let me do the rest!</li>
        <li>Already have photos and/or videos? Editing services are also available. Convert your existing photos into
          an entertaining and memorable video.</li>
        <li>Want a bird's eye view? Hire me for custom aerial photos and videos.</li>
      </ul>
    </div>
    <p class="text-center mt-2">Looking for something not listed here? Ask me about it! Prices negotiable</p>
    <a href="mailto:justin@jforseth.tech" class="mx-auto mt-4 btn btn-primary w-25">Contact Me</a>
  </div>
</div>
{% endblock %}